<?xml version="1.0" encoding="utf-8" ?>
<RuleSet Name="Validot" ToolsVersion="14.0">
    <Rules AnalyzerId="Microsoft.CodeAnalysis.FxCopAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.FxCopAnalyzers">
        <Rule Id="CA1040" Action="Info" />
        <Rule Id="CA1032" Action="Info" />
        <Rule Id="CA1034" Action="Info" />
        <Rule Id="CA1303" Action="None" />
        <Rule Id="CA1308" Action="Info" />
        <Rule Id="CA1716" Action="Info" />
        <Rule Id="CA1721" Action="Info" />
        <Rule Id="CA1724" Action="Info" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA0001" Action="None" />
        <Rule Id="SA1009" Action="None" />
        <Rule Id="SA1101" Action="None" />
        <Rule Id="SA1111" Action="None" />
        <Rule Id="SA1201" Action="Info" />
        <Rule Id="SA1309" Action="None" />
        <Rule Id="SA1402" Action="Info" />
        <Rule Id="SA1403" Action="Info" />
        <Rule Id="SA1413" Action="None" />
        <Rule Id="SA1600" Action="None" />
        <Rule Id="SA1601" Action="None" />
        <Rule Id="SA1602" Action="None" />
        <Rule Id="SA1633" Action="None" />
    </Rules>
</RuleSet>