<?xml version="1.0" encoding="utf-8" ?>
<RuleSet Name="Validot" ToolsVersion="14.0">
    <Include Path="../../Validot.sln.ruleset" Action="Default" />
    <Rules AnalyzerId="Microsoft.CodeAnalysis.FxCopAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.FxCopAnalyzers">
        <Rule Id="CA1310" Action="None" />
        <Rule Id="CA1707" Action="None" />
        <Rule Id="CA2237" Action="None" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1122" Action="None" />
        <Rule Id="SA1402" Action="None" />
        <Rule Id="SA1649" Action="None" />
    </Rules>
</RuleSet>